/* common ページ全体で共通のスタイル指示 */

body {
  margin: 0;
  /* フォントの指示 */
  font-family: Arial, Helvetica, sans-serif;
  background-color: #C9CACA;
}

h1,
h2 {
   margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

img {
  /* サイト全ての画像の下部の隙間を無くす指示 */
  vertical-align: bottom;
}

.container {
  /* サイト全体の左右隙間16pxの指示 */
  margin: 0 16px;
  /* outline: 2px solid red; */
}

ul {
  /* リストの黒丸を常時無くす */
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  /* ログインとカートの動作指示 */
  transition: opacity .5s;
}
/* ログインとカートの色を薄くなる指示 */
a:hover {
  opacity: .5;
}

/* header */

header {
  background: #eee;
  /* ヘッダーの上下の余白指示 */
  padding:8px 0;
}

/* ログインとカートをロゴと横並び指示 */
header .container {
  display: flex;
  justify-content: space-between;
/* 上下中央揃え指示 */
  align-items: center;
}


header ul {
  display: flex;
}

header li a {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: center;
}

header li  a i {
  font-size: 18px;
}

header li + li  {
  margin-left: 8px;
}


header form {
  display: none;
}

header input,
header button {
  all: unset;
}

header input {
  border-bottom: 1px solid #aaa;
  padding: 4px;
  width: 300px;
}


header button {
  cursor: pointer;
}


/* hero */

.hero img {
  width: 100%;
  height: 400px;
 
  object-fit: cover;
}

/* products */
.products {
  padding: 80px 0;
}

.products ul {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.products h1 {
  text-decoration: underline;
  text-decoration-color: black;
}

.products li {
  width: calc((100% - 16px) / 2);

} 

.products li img {
  width: 100%;
}

.products li h2 {
  font-size: 16px;
  margin-top: 8px;
}


.products li a {
  display: block;
}

.products .more {
  display: block;
  width: 70%;
  line-height: 48px;
  border: 2px solid #333;
  text-align: center;
  margin: 32px auto 0;
}



footer {
  background: #4c4948;
  padding: 16px 0;
  color: #eee;
}

footer .container {
  display: flex;
  
  justify-content: space-between;
 
  align-items: center;
}

footer small {
  font-size: 16px;
}


footer li i {
  font-size: 24px;
}

footer ul {
  display: flex;
}
footer li + li {
  margin-left: 8px;
}




@media (min-width: 600px) {


  .products li {
    width: calc((100% - 32px) / 3);
  } 
}



@media (min-width: 800px) {
  

  .container {
    width: calc(100% - 32px);
  
    margin: 0 auto;
   
    max-width: 800px;
  }


  header form {
    display: block;
  }

}



